doctype html
html(lang='es-PE')
  head
    meta(charset='UTF-8')
    block title
     title Home        
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='../css/dist/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick.css')
    link(rel='stylesheet', type='text/css', href='../css/dist/slick-theme.css')
    link(rel='stylesheet', type='text/css', href='../css/main.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript', src='../js/bootstrap.min.js')
    script(type='text/javascript', src='../js/slick.min.js')
    script(type='text/javascript', src='../js/bootstrap-hover-dropdown.min.js')
    script(type='text/javascript', src='../js/modernizr.custom.68172.js')
    script(type='text/javascript', src='../js/respond.js')
  body
   header
    .fondo-gris
     .container-fluid
      .row
       .col-md-8.col-md-offset-2
        img.img-responsive(src="../image/banner_top.jpg")
      .row
       .col-md-4.col-md-offset-2
        ul.list-inline
         li
          a.fs-10(href="http://www.libero.pe/") LIBERO.PE 
         li
          a.fs-10(href="http://www.elpopular.pe/") ELPOPULAR.PE  
         li
          a.fs-10(href="http://fundacionmohme.org/") FUNDACIÓN GUSTAVO MOHME LLONA
       .col-md-3.col-md-offset-1
        ul.list-inline
         li
          button.boton.boton-rojo.fs-10 SUSCRIBETE AL BOLETIN
         li
          a(href="https://www.facebook.com/larepublica.pe?fref=ts")            
           i.fa.fa-facebook(aria-hidden="true")
         li
          a(href="https://twitter.com/larepublica_pe")            
           i.fa.fa-twitter(aria-hidden="true")
         li
          a(href="https://plus.google.com/+larepublica/posts")            
           i.fa.fa-google-plus(aria-hidden="true")
         li
          a(href="http://larepublica.pe/boletin")            
           i.fa.fa-envelope(aria-hidden="true")
         li
          a(href="#")            
           i.fa.fa-rss(aria-hidden="true")
         li
          button.fs-10 BUSCAR
           i.fa.fa-search
   .container-fluid
    .row
     .col-md-2.pdt-50
      img(src="../image/publi-1.jpg")        
     .col-md-8
      .row.logo  
       .col-md-5
        img.pull-left(src="../image/logo-la-republica.jpg") 
       .col-md-3.base-domingo.text-center
        block domingo
         h6 Domingo            
        .caja-domingo
         p DOMINGO     
       .col-md-3
      .row.navega-rojo
      .row.temas
      .row
       img.img-responsive(src="../image/banner-header.jpg")
      block content          
     .col-md-2.pdt-50  
      img(src="../image/publi-2.jpg")                                                                              