.fs-10{font-size:10px;}
.fs-11{font-size:11px;}
.fs-12{font-size:12px;}
.pt-sans{font-family:'PT Sans';}
.inline-block{display:inline-block;}
.ml-negativo{margin-left:-15px; margin-right:-15px;}

.fs-9.2{font-size:9.2px;}
.fs-9{font-size:9px;}
.pd-left{padding-left:15px;}
.pd-0{padding-left:0px;}
.pd{padding:15px 0;}
.pd2{padding:10px 0;}
.mg-top{margin-top:5px;}
.color-n{color:#000;}
.b-left{border-left:2px solid white;}
.b-right{border-right:1px solid black;}
.hr{border: 1px solid white;}

.c_rojo{background-color:#ba1414;}
.c_turquesa{background-color:#768696;}
$tipografy:'PT Sans';
$color_gris:#F5F5F5;
