/**{outline:1px solid rgba(255,0,0,0.3);}*/
body {
  font-family: 'Oswald',sans-serif;
  color: #1F1F1F; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans',Helvetica; }

.fs-9 {
  font-size: 9px; }

.fs-9.2 {
  font-size: 9.2px; }

.fs-10 {
  font-size: 10px; }

.fs-11 {
  font-size: 11px; }

.fs-12 {
  font-size: 12px; }

.pt-sans {
  font-family: 'PT Sans'; }

.h-titular {
  font-weight: 700; }

.inline-block {
  display: inline-block; }

.ml-negativo-15 {
  margin-left: -15px;
  margin-right: -15px; }

.ml-negativo-5 {
  margin-left: -5px;
  margin-right: -5px; }

.ml-0 {
  margin-left: 0px;
  margin-right: 0px; }

.mg-top {
  margin-top: 5px; }

.pd-left {
  padding-left: 15px; }

.pd-0 {
  padding-left: 0px; }

.pd {
  padding: 15px 0; }

.pd2 {
  padding: 10px 0; }

.b-left {
  border-left: 2px solid #fff; }

.b-right {
  border-right: 1px solid #000; }

.hr {
  border: 1px solid white; }

.color-n {
  color: #000; }

.c_rojo {
  background-color: #ba1414; }

.c_turquesa {
  background-color: #71808F; }

.footer {
  background-color: #F5F5F5;
  margin-top: 600px; }

.footer img {
  margin: auto;
  padding: 20px; }

.footer li {
  list-style: none; }

.pie-pagina {
  background-color: #F5F5F5; }

.pie-pagina li {
  font-size: 10px; }

hr {
  margin: 0px; }

.contact .escribir {
  width: 100%;
  background-color: #F5F5F5;
  padding: 5px;
  border-radius: 3px;
  margin: 10px 0; }

.contact li.ej {
  margin-bottom: 4px;
  list-style: none; }

.contact textarea {
  height: 150px; }

.contact img {
  margin: auto; }

.quitar > .row {
  margin-left: 0px;
  margin-right: 0px; }

img {
  max-width: 100%; }

.contenedor_columnistas {
  padding: 10px; }

.padding {
  padding-left: 0px;
  padding-right: 0px; }

.plomo {
  color: #768696; }

.blanco {
  color: #fff;
  position: absolute;
  bottom: 1%; }

.rojo {
  color: #CD4C6C;
  font-weight: bold;
  text-align: center;
  text-decoration: none; }

.rojoiz {
  color: #CD4C6C;
  font-weight: bold;
  text-decoration: none; }

.tamano {
  width: 80%;
  margin-left: 11%; }

.fondo_columnistas {
  background: #F2F2F2; }

.margint {
  margin: 2% 0%; }

.margin15 {
  margin-top: 15%; }

.border_p {
  border: 1px solid #CDCDCD; }

.cont_img {
  position: relative;
  background: linear-gradient(to bottom, white 0%, white 47%, #121212 100%); }

#mi-linearo {
  border-top: 7px solid #B20000;
  position: relative;
  padding-top: 11%; }
  #mi-linearo .etiqueta {
    background: #B20000;
    position: absolute;
    color: #fff;
    top: -11px;
    text-align: center; }

#mi-lineaplo {
  border-top: 7px solid #768696;
  position: relative;
  padding-top: 11%; }
  #mi-lineaplo .etiqueta {
    background: #768696;
    position: absolute;
    color: #fff;
    top: -11px;
    text-align: center; }

.img_bor {
  border: 1px solid #fff; }

.list {
  margin-top: -22%; }

.linea {
  margin: 2% 0%; }

.borderaweita {
  border: 2px solid gray;
  margin: 4% 0%;
  padding: 4% 0%; }

.relative {
  position: relative; }

.absolute {
  position: absolute;
  top: 85px; }
