include ci/mixin_p.jade
extends ci/base.jade
block title
 title home
block domingo
 h6 HABLA LA LIDERESA DEL NACIONALISMO
block content
    .row
        h1.text-center GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
        ul.list-inline.list-unstyled.text-center
            li
                a(href="#")
                    img(src="../image/redes.png")
            li
                img(src="../image/bullet.gif")
            li
                p Hace 12 minutos
            li
                img(src="../image/bullet.gif")
            li
                p POLITICA

        .col-md-6
            +noticias('','../image/img_especiales.jpg','pattddfy')
        .col-md-6
            .row
                +noticias('','../image/img_especiales.jpg','pattddfy')
            .row
                +noticias('','../image/img_especiales.jpg','pattddfy')
    .row.text-center
        .columnistas
            p COLUMNISTAS
        ul.list-inline.list-unstyled
            li
                +foto_colum
            li
                +foto_colum
            li
                +foto_colum
    .row
        .col-md-8
            .row
                .col-md-6
                    +noticias('nombre','../image/img_especiales.jpg','pattddfy','hofffla')
                .col-md-6
                    +noticias('nombres','../image/img_especiales.jpg','ddfds','hosssla')
            .row
                .col-md-6
                    +noticias('nombrde','../image/img_especiales.jpg','padftty','hosssla')
                .col-md-6
                    +noticias('nombfgrgre','../image/img_especiales.jpg','pdfdsatty','holsssa')
            .row
                a(href="#") 
                    h5 ULTIMAS NOTICIAS
                    img(src="../image/double-arrow-bottom.png") 
                +ultimas
                
        .col-md-4
            .row
                img(src="../image/banner-aside-home.jpg")
            .row
                img(src="../image/img_sucribe.png")
                .div
                    p <strong>Suscribete </strong> a nuestro boletin
                    input.form-control(type='text')
                    button.btn.btn-sm SUSCRIBIRSE
            .row
                .div
                    img(src="../image/logo_aweita.jpg")
                    +clases
                    +aweita
            .row
                div 
                    h4 FOTOS DESTACADAS
                img(src="../image/img_sucribe.png")
                p fsdf dsfksdf sdfksdf dsfkss db fvs
                +clases
            .row
                div 
                    h4 ESPECIALES
                +fotos('../image/img_especiales_aside.jpg','Regimen laboral juvenil')
                +fotos('../image/img_especiales_aside.jpg','Regimen laboral juvenil')
                +fotos('../image/img_especiales_aside.jpg','Regimen laboral juvenil')
                +fotos('../image/img_especiales_aside.jpg','Regimen laboral juvenil')
            .row
                div 
                    h4 CARLINCATURA DEL DÍA
                h4<strong> Carlincaturas 30-01-2015</strong>
                img(src="../image/img_carlincatura_sd.jpg")
                p Todas las Carlincaturas
            .row
                div 
                    h4 NUESTROS BLOGUEROS
                div
                    +bloguer
                    h6 Todos los Blogs
            .row
                div 
                    h4 EDICIÒN IMPRESA
                div
                    h6 República-Lima
                    img(src="../image/img_impreso_sd_prominent.jpg")
                    .row
                        +periodicos('../image/img_impreso_sd.jpg','Extorcion enmenores en colegio','Republica-Norte')
                    .row
                        +periodicos('../image/img_impreso_sd.jpg','Extorcion enmenores en colegio','Republica-Sur')
                    .row
                        +periodicos('../image/img_impreso_sd.jpg','El ojo de Oblitas','Domingo')